/* reset */
@import url(../fonts/Segoe_UI/stylesheet.css);
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
h2,
h3 {
  text-decoration: none;
  color: inherit;
}
a:visited,
h2:visited,
h3:visited {
  color: inherit;
}
a:active, a:focus,
h2:active,
h2:focus,
h3:active,
h3:focus {
  color: inherit;
  outline: none;
}

ol,
li {
  list-style: none;
}

ul {
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  margin-bottom: 10px;
}

img {
  border: none;
  -o-object-fit: contain;
     object-fit: contain;
}

input,
textarea {
  outline: none;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  margin: 0;
}

html,
body {
  line-height: 1;
}

/*----------------*/
body {
  font-family: "Segoe UI", sans-serif;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  color: #1a1f22;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
}

.header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo-img {
  padding-right: 10px;
  border-right: 1px solid #e3e9ee;
}

.header__logo-img a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 50px;
}

.header__logo-desc {
  max-width: 154px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  padding-left: 10px;
}

.header__advantage,
.header__mail a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__advantage-icon,
.header__mail-icon {
  background-color: #dc6823;
  width: 38px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 7px;
  margin-right: 10px;
  position: relative;
}
.header__advantage-icon::before, .header__advantage-icon::after,
.header__mail-icon::before,
.header__mail-icon::after {
  content: "";
  position: absolute;
}
.header__advantage-icon::before,
.header__mail-icon::before {
  right: 0;
  top: 0;
  border-bottom: 3px solid #dc6823;
  border-right: 3px solid #fff;
  border-top: 3px solid #fff;
  border-left: 3px solid #dc6823;
}
.header__advantage-icon::after,
.header__mail-icon::after {
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #fff;
  border-right: 3px solid #dc6823;
  border-top: 3px solid #dc6823;
  border-left: 3px solid #fff;
}

.header__advantage-desc,
.header__mail-desc {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
}

.header__mail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #dc6823;
}

.header__phone {
  font-size: 32px;
  font-weight: 700;
  line-height: 38.4px;
}

.header__phone-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  text-align: right;
  color: #7c8183;
}

.header-nav {
  background-color: #1a1f22;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 9999;
}
.header-nav nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  min-height: 60px;
}
.header-nav nav ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}
.header-nav nav ul li a {
  padding-top: 21.5px;
  padding-bottom: 21.5px;
  width: 100%;
  text-align: center;
}
.header-nav nav ul li.current-menu-item a {
  background-color: #ffe500;
  color: #1a1f22;
}

.header-nav nav ul li:nth-child(1) {
  width: 124px;
}

.header-nav nav ul li:nth-child(2) {
  width: 223px;
}

.header-nav nav ul li:nth-child(3) {
  width: 90px;
}

.header-nav nav ul li:nth-child(4) {
  width: 111px;
}

.header-nav nav ul li:nth-child(5) {
  width: 175px;
}

.header-nav nav ul li:nth-child(6) {
  width: 185px;
}

.header-nav nav ul li:nth-child(7) {
  width: 144px;
}

.header-nav nav ul li:nth-child(8) {
  width: 118px;
}

.top {
  margin-top: 20px;
}

.top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #dc6823;
  color: #fff;
}

.top__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.top__second {
  padding: 50px 70px 50px 50px;
}

.top__title {
  font-size: 52px;
  font-weight: 700;
  line-height: 52px;
}

.top__discount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
  background-color: #fff;
  max-width: 388px;
  position: relative;
}
.top__discount::before, .top__discount::after {
  content: "";
  position: absolute;
}
.top__discount::before {
  right: 0;
  top: 0;
  border-bottom: 10px solid #fff;
  border-right: 10px solid #dc6823;
  border-top: 10px solid #dc6823;
  border-left: 10px solid #fff;
}
.top__discount::after {
  left: 0;
  bottom: 0;
  border-bottom: 10px solid #dc6823;
  border-right: 10px solid #1a1f22;
  border-top: 10px solid #1a1f22;
  border-left: 10px solid #dc6823;
}

.top__discount-icon {
  width: 60px;
  height: 60px;
  background-color: #1a1f22;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 12px;
}

.top__discount-text {
  padding: 19px 20px;
  color: #dc6823;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
}

.top__list {
  margin-top: 30px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.top__list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: calc(50% - 15px);
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}
.top__list-item:before {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  margin-right: 10px;
  background-image: url(../img/top_list.svg);
}

.btn {
  display: inline-block;
  background-color: #ffe500;
  color: #1a1f22;
  padding: 19px 64px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  text-transform: uppercase;
  text-align: center;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2509803922);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2509803922);
  position: relative;
  cursor: pointer;
}
.btn::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  right: 4px;
  bottom: 4px;
  border: 2px solid #1a1f22;
  opacity: 0.15;
}

.catalogchar,
.advantages,
.service,
.exprom,
.prices,
.cities,
.formnotfound,
.about,
.ourtech,
.footer {
  margin-top: 100px;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 57.6px;
  margin-bottom: 50px;
}

.catalogchar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.catalogchar__item {
  background-color: #fff;
  border: 1px solid #e3e9ee;
  max-width: 270px;
}

.catalogchar__item-body {
  padding: 10px;
}

.catalogchar__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catalogchar__item-title {
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.catalogchar__item-char-item {
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #e3e9ee;
}

.catalogchar__item-char-item:last-child {
  border-bottom: none;
}

.catalogchar__item-char-item-lbl {
  color: #7c8183;
}

.catalogchar__item-char-item-name {
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
}

.catalogchar__item-offer {
  padding: 10px 10px 16px;
  background-color: #f4f6f8;
  border-top: 1px solid #e3e9ee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.catalogchar__item-offer-prices-first {
  color: #dc6823;
  font-size: 16px;
  font-weight: 700;
  line-height: 19.2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.catalogchar__item-offer-prices-first:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/catalogchar_icon1.svg);
  background-size: cover;
  background-position: center;
}

.catalogchar__item-offer-prices-second {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
  color: #7c8183;
  margin-bottom: 10px;
  margin-top: 4px;
}

.catalogchar__item-offer-btn-wrap .btn {
  padding: 15px 34px;
  width: 100%;
}

.catalogchar__btn-wrap {
  margin-top: 50px;
}

.catalogchar__btn-wrap .btn {
  width: 100%;
}

.advantages__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.advantages__item {
  width: 220px;
  border: 1px solid #e3e9ee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 19px 38px;
}

.advantages__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advantages__item-text {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 16.8px;
  margin-top: 31px;
}

.service__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}

.service__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border: 1px solid #e3e9ee;
  max-width: 570px;
}

.service__item-body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  margin-left: 30px;
  margin-right: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service__item-title {
  max-width: 250px;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
}

.service__item-price {
  font-size: 22px;
  font-weight: 700;
  line-height: 26.4px;
  color: #7c8183;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.service__item-price:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-image: url(../img/service_icon1.svg);
  background-size: cover;
  background-position: center;
}

.service__item-btn-wrap .btn {
  padding: 19px 53px;
}

.btn_arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}
.btn_arrow:after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-top: -3px;
  background-image: url(../img/btn_arrow_icon.svg);
  background-size: cover;
  background-position: center;
}

.service__btn-wrap {
  margin-top: 30px;
}

.service__btn-wrap .btn {
  width: 100%;
}

.exprom__inner,
.formnotfound__inner {
  color: #fff;
  padding: 50px 50px 50px 55px;
  position: relative;
  background-color: #dc6823;
  background-image: url(../img/exprom_img1.svg);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
}

.exprom__before,
.exprom__after,
.formnotfound__before,
.formnotfound__after {
  position: absolute;
  width: 200px;
  height: 20px;
  background-color: #1a1f22;
}
.exprom__before::before,
.exprom__after::before,
.formnotfound__before::before,
.formnotfound__after::before {
  content: "";
  position: absolute;
}

.exprom__before,
.formnotfound__before {
  top: -20px;
  left: 0;
}
.exprom__before::before,
.formnotfound__before::before {
  right: 0;
  top: 0;
  border-bottom: 10px solid #1a1f22;
  border-right: 10px solid #fff;
  border-top: 10px solid #fff;
  border-left: 10px solid #1a1f22;
}

.exprom__after,
.formnotfound__after {
  right: 0;
  bottom: -20px;
}
.exprom__after::before,
.formnotfound__after::before {
  left: 0;
  top: 0;
  border-bottom: 10px solid #fff;
  border-right: 10px solid #1a1f22;
  border-top: 10px solid #1a1f22;
  border-left: 10px solid #fff;
}

.exprom__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  color: #1a1f22;
  max-width: 315px;
  max-height: 313px;
  margin: auto;
  padding: 50px 22px 63px;
  position: relative;
}
.exprom__first::before, .exprom__first::after {
  content: "";
  position: absolute;
}
.exprom__first::before {
  right: 0;
  top: 0;
  border-bottom: 25px solid #fff;
  border-right: 25px solid #dc6823;
  border-top: 25px solid #dc6823;
  border-left: 25px solid #fff;
}
.exprom__first::after {
  left: 0;
  bottom: 0;
  border-bottom: 25px solid #dc6823;
  border-right: 25px solid #fff;
  border-top: 25px solid #fff;
  border-left: 25px solid #dc6823;
}

.exprom__first-lbl {
  font-size: 48px;
  line-height: 1;
  font-weight: 700;
}

.exprom__first-percent {
  font-size: 100px;
  line-height: 1;
  font-weight: 700;
  color: #dc6823;
  margin-bottom: 8px;
}

.exprom__first-info {
  font-size: 22px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
}

.exprom__second-txt {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  margin-bottom: 50px;
}

.exprom__second-btn-wrap .btn {
  padding: 19px 38px;
  width: 250px;
}

.prices__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.prices__text {
  max-width: 670px;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

.prices__btn-wrap {
  width: 100%;
}

.prices__btn-wrap .btn {
  width: 100%;
}

.cities__slider {
  position: relative;
}

.cities__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 64px;
  margin-right: 64px;
}

.cities__list .slick-slide {
  margin-left: 5.25px;
  margin-right: 5.25px;
}

.cities__item {
  padding: 20px 17px;
  font-size: 12px;
  line-height: 14.4px;
  font-weight: 400;
  text-align: center;
  border: 1px solid #e3e9ee;
}

.cities__item-name {
  margin-top: 10px;
}

.cities__slider-prev,
.cities__slider-next {
  width: 42px;
  height: 42px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
  top: calc(50% - 21px);
  cursor: pointer;
}

.cities__slider-prev {
  background-image: url(../img/slider-nav-left.svg);
  left: 0;
}

.cities__slider-next {
  background-image: url(../img/slider-nav-right.svg);
  right: 0;
}

@media (hover: hover) {
  a,
  .cities__slider-next,
  .cities__slider-prev,
  .about__video_play {
    -webkit-transition: opacity 0.42s ease;
    transition: opacity 0.42s ease;
  }
  a:hover,
  .cities__slider-next:hover,
  .cities__slider-prev:hover,
  .about__video_play:hover {
    opacity: 0.72;
  }
  .btn::before,
  .btn {
    -webkit-transition: all 0.42s ease;
    transition: all 0.42s ease;
  }
  .btn:hover {
    background-color: #ffec40;
  }
  .btn:hover::before {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
  }
}
.formnotfound__body {
  width: 100%;
}

.formnotfound__inputs input {
  width: calc(33.3333333333% - 7px);
}

.formnotfound__inputs input[type=text],
.formnotfound__inputs input[type=tel] {
  border: 3px solid #e3e9ee;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  color: #7c8183;
}

.formnotfound__inner {
  padding: 46px 50px 46px 55px;
}

.formnotfound__body input.btn.btn_input {
  margin-bottom: 30px;
}

.formnotfound__body input {
  height: 60px;
}

.formnotfound__inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  margin-top: 30px;
}

.btn_input::before {
  display: none;
}

.formnotfound__body h2 {
  margin-bottom: 10px;
}

.formnotfound__body p {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

.about__first-second-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

h3 {
  font-size: 36px;
  font-weight: 700;
  line-height: 43.2px;
  margin-bottom: 50px;
}

.about__desc {
  max-width: 500px;
}

.about__third .about__desc {
  max-width: 100%;
  padding-right: 60px;
}

.about__video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}
.about__video::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(41, 41, 41, 0.5019607843);
  z-index: 9;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
}

.about__video_play {
  position: absolute;
  width: 146px;
  height: 146px;
  left: calc(50% - 73px);
  top: calc(50% - 73px);
  border-radius: 50%;
  background-color: #ffe500;
  border: 4px solid #e0c900;
  cursor: pointer;
  z-index: 99;
}
.about__video_play::before {
  content: "";
  background-image: url(../img/about_Polygon_1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 58px;
  height: 67px;
  position: absolute;
  left: calc(50% - 18px);
  top: calc(50% - 33px);
}

.about__advantages {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
  counter-reset: name;
  padding-right: 60px;
}

.about__advantages-item {
  counter-increment: name;
  position: relative;
  padding-left: 34px;
}
.about__advantages-item::before {
  content: counter(name);
  background-image: url(../img/about_Rectangle_7.svg);
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 24px;
  width: 24px;
  color: #fff;
  margin-right: 4px;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.6px;
}